<html>
    <head>
        <title>Blog App</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
       
<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container" id="nav-container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand active" href="/"><img src="/images/brand.png" id="brand">  The Entrepreneurship Blog</a>
   </div>
    <ul class="justify-content-end navbar-nav mr-3 pr-2">
    	 <li class="nav-item active">
        <li><a class="nav-link" href="/blogs">HOME</a></li>
        <li><a class="nav-link" href="mailto:shauryasarswatpersonalAC@gmail.com">DEVELOPERS_CONTACT</a></li>
      <li><a class="nav-link" href="https://github.com/ShauryaSarswat/WebsiteTemplate2">SOURCE_CODE</a></li>
  </ul>
  </div></div>
</nav>