<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>
    <body>
       
<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container" id="nav-container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand active" href="/"><img src="/images/brand.png" id="brand">  The Entrepreneurship Blog</a>
   </div>
    <ul class="justify-content-end navbar-nav mr-3 pr-2">
    	 <li class="nav-item active">
        <li><a class="nav-link" href="/blogs">HOME</a></li>
        <li><a class="nav-link" href="/developer">DEVELOPERS_CONTACT</a></li>
      <li><a class="nav-link" href="https://github.com/ShauryaSarswat/WebsiteTemplate">SOURCE_CODE</a></li>
  </ul>
  </div></div>
</nav>