i .icon{
	font-size: 2em;
}
.container.main{ margin-top: 7.0em;}
body{
	background-image: url(/images/background.jfif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
nav{
	margin: 0px;
}
.navbar{
	background-color: black;

}
.nav-link{
	color: white;
}
.nav-link:hover{
	color: gray;
}
#brand{
	height: 40px;
	width: 40px;
	margin-right: 5px;
}
.navbar-brand{
	font-size: 1.4rem;
	color: white;
}
.navbar-brand:hover{
	color: yellow;
}
.jumbotron{
	margin-bottom: 0px;
}