i .icon{
	font-size: 2em;
}
.container.main{ margin-top: 7.0em;}
body{
	background-color: pink;
	margin-top: 40px;
}
nav{
	margin: 0px;
}
.navbar{
	background-color: black;

}
.nav-link{
	color: white;
}
.nav-link:hover{
	color: yellow;
}
#brand{
	height: 40px;
	width: 40px;
	margin-right: 5px;
}
.navbar-brand{
	font-size: 1.4rem;
	color: white;
}
.navbar-brand:hover{
	color: yellow;
}
.jumbotron{
	margin-bottom: 0px;
}