<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid" style="background: transparent">
  <div class="container-fluid text-center">
    <h1 class="display-1" style="font-family: 'Oswald', sans-serif;">The Great Indian Enterprise</h1>
    <p class="lead text-light" style="font-size: 1.42rem;">The Indian Entrepreneurs are full of captivating energy and motivation , this is a blogging platform for Indian Entrepreneurs to share their thoughts and rich mindsets.</p>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5" style="font-weight: bold;">
            <p class="col-sm-12 text-center lead text-light" style="font-family: 'Dancing Script', cursive;font-size: 2rem;">" if you could understand impermanence deeply, you would develop more equanimity. You would not get too excited about either the ups or downs of life. And only then would you be ready to develop that deeper sense of empathy and compassion for everything around you."
<span style="font-weight: bold;color: black">- Satya Nadella</span> </p><br>
<center><a href="/blogs"><button class="btn-lg btn-dark mt-5 mr-2 lead">Go To Blogs</button></a></center>
        </div>
        <div class="col-sm-4 rounded-circle text-center" style="background-image : url(/images/satya.jpg);background-size: cover;margin-left: 130px;height: 360px;width: 400px;padding-top: 130px;padding-left: 48px;" >
        </div>
    </div>
    <div class="text-center container">
         <span class="text-dark">TheGreatIndianEntreprise &copy 2020 Copywright</span>
    </div>
</div>
<%- include("partials/footer") %>