<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid" style="background: transparent">
  <div class="container-fluid text-center">
    <h1 class="display-1" style="font-family: 'Roboto Mono', monospace;">The Great Indian Enterprise</h1>
    <p class="lead">The Indian Entrepreneurs are full of captivating energy and motivation , this is a blogging platform for Indian Entrepreneurs to share their thoughts and rich mindsets.</p>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5" style="font-weight: bold;">
            The main skill of entrepreneurship is influencing the masses. A blog in its true respective serves as a medium for influencing the readers .The Skill of involving a person with the cardamom of blog is the sole representation of a mass influencer as a writer, creative writer or more generic as a content writer.<br>
    Try to influence the common ground people and learn new things from this website is the sole purpose for its creation.Enjoy blogging at <a href="/blogs" style="text-decoration: none;"><span class="text-warning"> #TheEntrepreneurhipBlog</span></a><br>
<a href="/blogs"><button class="btn btn-success mt-5" style="background-color: #20913e">Go To Blogs</button></a>
        </div>
        <div class="col-sm-4 rounded-circle text-center" style="background-image : url(/images/satya.jpg);background-size: cover;margin-left: 130px;height: 360px;width: 400px;padding-top: 130px;padding-left: 48px;" >
            <p class="text-light col-sm-11 text-center">f you could understand impermanence deeply, you would develop more equanimity. You would not get too excited about either the ups or downs of life. And only then would you be ready to develop that deeper sense of empathy and compassion for everything around you.”
<span style="color: yellow">― Satya Nadella</span> </p>
        </div>
    </div>
    <div class="text-center container">
         <span class="text-muted">The Great Indian Entreprise &copy 2020 Copywright</span>
    </div>
</div>
<%- include("partials/footer") %>